#preview-cubo { 
    width: 400px;
    height: 300px;
}

.quadrante{
    width: 25%;
    height: 33.33%;
}

.cont-peca{
    width: calc(33.33% - 4px);
    height: calc(33.33% - 4px);
    margin: 2px 2px 0px 0px;
    border-radius: 20%; 
    border: 2px solid black;
}

/* testar com bootstrap
criando rows e cols */