@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
}

#videoElement, #canvasMarcacoes{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

#canvasSnapshot, #canvasPeca {
    display: none;
}

.page-header {
    background-color: black;
    color: white;        
    height: 100px;
}

#iconeHeader {
    margin: 20px 20px 20px 20px;
    height: 60px;
    width: 60px;
}

#spamTitulo {
    font-size: 30px;
}

div[role="main"] {
    margin: 20px;
    height: 430px;
}

footer {
    /* border-top: 2px solid black; */
    height: 80px;
}

#btnConfirma {
    width: 150px;
    height: 50px;
    left: 800px;
    top: 15px;
}