@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
}

#videoElement, #canvasMarcacoes{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

#canvasSnapshot, #canvasPeca {
    display: none;
}

.page-header {
    background-color: #343640;
    color: white;        
    height: 100px;
}

#iconeHeader {
    margin: 20px 20px 20px 20px;
    height: 60px;
    width: 60px;
}

#spamTitulo {
    font-size: 30px;
}

div[role="main"] {
    margin: 20px;
    height: 430px;
}

footer {
    /* border-top: 2px solid black; */
    height: 80px;
}

.botao:hover, .swal-button:hover {
    background-color: #4d8450;
}

.botao {
    background-color: #3d5144;
    color: white;
    width: 150px;
    height: 40px;    
    top: 15px;
}

#btnLimpar {
    /*margin-left: 600px;*/
}

#btnConfirmar {
    /*margin-left: 800px;*/
}

.swal-button {
    background-color: #3d5144;
    color: white;
}

.buttom-group{
    text-align: right;
    margin: 0 20px;
    padding-top: 24px;
    border-top: 1px solid rgba(190,190,190,1);
}