#videoElement, #canvasMarcacoes{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

#canvasSnapshot, #canvasPeca {
    display: none;
}

/* #cab {
    position: fixed;
    width: 100%;
    min-height: 20%;
    background-color: red;
}

#rodape {
    position: absolute;
    width: 100%;
    min-height: 10%;
    bottom: 0;
    background-color: red;
}

#conteudo {
    min-height: 100%;
    min-width: 100%;
    background-color: aqua;
}

#container-camera{ 
    position: relative;
    width: 50%;
    height: 100%;
    background-color: blue;
}

#videoElement{
    width: 100%;
    height: 100%;
    /* z-index: 1; 
}
.caixa-peca{
    width: 20%;
    height: 20%;
    border: 5px;
    /* z-index: 2; 
} */